@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --color-header: #edf0f2;
  --primary-color: #ffc600;
  --bg-header: #07294d;
  --w-1170: 1170px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input:focus-visible {
  outline: transparent;
}

.d-none {
  display: none;
}

.elementor-col-100 {
  width: 100%;
}

.items-center {
  align-items: center;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.text-center {
  text-align: center !important;
}

.p-section {
  padding: 100px 0 80px;
}

/* header main */
.header-top {
  background-color: var(--bg-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-header);
  padding: 10px 0;
  min-height: 48px;
  font-size: 1.4rem;
}

body a {
  transition: all 0.5s ease;
  text-decoration: none;
  color: #07294d;
}

body .container {
  position: relative;
  width: var(--w-1170);
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-top li {
  display: inline-block;
}

.header-top .email a:hover,
.header-top .header-right .social a:hover {
  color: #ffc600;
}

.is-header-sticky {
  width: 100%;
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0;
  background-color: #fff;
}

.is-header-sticky.sticky-active .header-top {
  display: none;
  transition: all 0.5s ease;
}

.slideInDown {
  animation-name: slideInDown;
}

.animated {
  animation-duration: 1.25s;
}

.is-header-sticky.sticky-active {
  box-shadow: 0 3px 6px rgb(128 128 128 / 10%);
}

@keyframes slideInDown {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.header-top .header-left {
  float: left;
}

.contact-info .email,
.header-right .social {
  padding-right: 20px;
}

.social ul li a {
  color: white;
}

.contact-info a {
  color: #edf0f2;
}

.header-right {
  display: flex;
  justify-content: end;
  align-items: center;
}

.contact-info i,
.header-right .social .follow-us {
  padding-right: 5px;
}

.social {
  display: flex;
}

.header-right .social li {
  padding: 0 5.5px;
  cursor: pointer;
}

.login-register a {
  color: #ffc600;
  font-size: 1.4rem;
}

.login-register a:hover {
  color: white;
}

.top-seperator {
  padding-left: 7px;
  padding-right: 7px;
  line-height: 22px;
}

/* header */
.header-menu {}

.header-area {}

.search-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 41, 77, 0.7);
  z-index: 999;
  animation: opacity1 0.5s linear;
}

@keyframes opacity1 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.search-box .btn-close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  font-size: 5rem;
  color: white;
}

.search-box .input-search {
  width: 50%;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #07294d;
  color: #07294d;
  padding-left: 20px;
  border-radius: 50px;
}

.search-box .btn-search {
  position: absolute;
  top: 50%;
  left: 72%;
  transform: translate(-50%, -50%);
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #07294d;
  cursor: pointer;
  font-size: 1.6rem;
}

.header-area .logo-brand {
  display: inline-block;
  padding: 1em 0;
  position: relative;
  z-index: 3;
}

.header-area .logo-brand img {
  width: 180px;
}

.header-right-icon {
  margin-left: 30px;
  float: right;
}

.header-right-icon ul li {
  display: inline-block;
  padding: 33px 12px 29px 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.header-right-icon .icon-search {
  cursor: pointer;
}

.header-right-icon ul li a i {
  color: #07294d;
}

.header-right-icon .num-qty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 1rem;
  position: absolute;
  top: 25%;
  right: 12px;
  background-color: var(--primary-color);
  width: 18px;
  height: 18px;
}

.navigation-section {
  float: right;
}

.navigation-section .mobile-menu-wrapper {
  cursor: pointer;
  font-size: 3rem;
  margin-top: 4px;
}

.navigation-section .mobile-menu-wrapper .mobile-menu-icon {
  line-height: 82px;
}

.navigation-section .nav-menu {
  height: 100%;
}

.navigation-section .nav-menu .menu-link {
  display: inline-block;
  position: relative;
  background-color: white;
  padding: 33px 10px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  color: #07294d;
  transition: all 0.5s ease;
}

.menu-link:hover .link-item {
  color: var(--primary-color);
}

.arrow-right {
  margin-left: -22px;
  font-size: 1.2rem;
  color: #7a7a7a;
}

.navigation-section .nav-menu .menu-link:hover .sub-menu {
  display: block;
  animation: fadeInUpMenu 0.3s ease-in;
}

@keyframes fadeInUpMenu {
  0% {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  40% {
    opacity: 0.4;
    transform: translate3d(0, 3%, 0);
  }

  80% {
    opacity: 0.8;
    transform: translate3d(0, 1%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.navigation-section .nav-menu .menu-link i {
  font-size: 1.2rem;
  vertical-align: text-top;
  margin-left: 6px;
}

.menu-link .sub-menu {
  display: none;
  position: absolute;
  top: calc(100% + 0px);
  left: 10px;
  background: #fff;
  box-shadow: 0 6px 12px rgb(0 0 0 / 7%);
  border-top: 3px solid var(--primary-color);
  z-index: 99;
  padding: 10px 0 10px;
}

.menu-link .sub-menu a,
.sub-menu .menu-link-2 .sub-menu2 a {
  position: relative;
  text-transform: none;
  padding: 7px 20px;
  width: 232px;
  font-size: 1.6rem;
  color: #7b7b7b;
  display: block;
}

.menu-link .sub-menu a::before {
  opacity: 0;
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 10px;
  background: var(--primary-color);
  z-index: 9;
  border-radius: unset;
}

.menu-link .sub-menu a:hover::before {
  opacity: 1;
  left: 18px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu-link .sub-menu a:hover {
  padding-left: 35px;
  border-color: transparent;
}

.menu-link-2 {
  display: flex;
  align-items: center;
  position: relative;
}

.menu-link-2:hover .sub-menu2 {
  display: block;
}

.sub-menu .sub-menu2 {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
  background: #fff;
  box-shadow: 0 6px 12px rgb(0 0 0 / 7%);
  border-top: 3px solid var(--primary-color);
  z-index: 99;
  padding: 10px 0 10px;
}

/* banner */
.wrapper {}

.wrapper .slideshow-container {
  max-width: 100%;
  color: white;
}

.wrapper .slideshow-container .slide {
  background-size: cover;
  background-position: center center;
  height: 820px;
}

.wrapper-content {
  display: flex;
  align-items: center;
  height: 75%;
}

.wrapper .slideshow-container .background-overlay {
  position: absolute;
  content: "";
  background: rgba(8, 41, 77, 0.53);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slider-title {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 75px;
  animation: slider-title 2s ease;
}

.slider-content {
  font-size: 1.8rem;
  margin-bottom: 50px;
  padding-right: 570px;
  animation: slider-content 2s ease;
}

.button-box {
  animation: button-box 2s ease;
}

@keyframes slider-title {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slider-content {
  from {
    opacity: 0;
    transform: translateX(150px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes button-box {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translatey(0);
  }
}

.button-box .rep-btn {
  padding: 12px 28px;
  margin: 7px;
  border-radius: 3px;
  color: #07294d;
  cursor: pointer;
}

.slider-btn-left,
.slider-btn-right {
  display: inline-block;
}

.button-box .left-btn,
.btn-btn {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.button-box .right-btn {
  background-color: white;
  border: 2px solid white;
}

.button-box .rep-btn:hover,
.btn-btn:hover {
  background-color: #07294d;
  border: 2px solid #07294d;
  color: white;
}

/* Slide banner */
.mySlides {
  display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container .owl-nav {
  font-size: 1.6rem;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
  width: 100%;
  transform: translateY(-50%);
  opacity: 0;
}

.owl-nav .owl-prev {
  position: absolute;
  left: 10px;
  display: inline-block;
  color: #fff;
  margin: 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 2px solid #fff;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  line-height: 43px;
}

.slideshow-container:hover .owl-nav {
  opacity: 1;
}

.slideshow-container:hover .owl-nav .owl-prev {
  left: 35px;
  transition: all 0.5s ease;
}

.owl-nav .owl-next {
  position: absolute;
  right: 10px;
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  margin: 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  border: 2px solid #fff;
  height: 48px;
  width: 48px;
  border-radius: 50px;
  line-height: 43px;
}

.slideshow-container:hover .owl-nav .owl-next {
  right: 35px;
  transition: all 0.5s ease;
}

.text {
  color: #f2f2f2;
  font-size: 1.5rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.hide {
  display: none;
  animation: fadeOut .5s linear;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* elementor section */
.autoplay {
  display: flex;
  width: 100%;
}

.elementor-section {
  background-color: #07294d;
  border-style: solid;
  border-width: 0;
  margin-top: -160px;
  margin-bottom: 0;
  padding: 80px 90px 80px 72px;
  z-index: 1;
  border-radius: 10px;
}

.elementor-row {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.elementor-column {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
}

.elementor-column .wrap-title {
  padding: 0 153px 0 0;
}

.elementor-column .wrap-title .elementor-heading-title {
  color: #fff;
  font-family: "Montserrat", Sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 43px;
}

.tns-nav {
  display: none;
}

.elementor-column .tns-outer {
  display: flex;
  align-items: center;
}

.elementor-column .tns-controls [data-controls="prev"],
.elementor-column .tns-controls [data-controls="next"] {
  z-index: 2;
  color: #fff;
  font-size: 1.6rem;
  height: 38px;
  width: 38px;
  position: absolute;
  transform: translateY(-50%);
  background: #557495;
  border: 0 none;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  transition: 0.3s ease-in-out;
  line-height: 28px;
  text-align: center;
}

.elementor-column .tns-controls [data-controls="prev"] {
  left: 400px;
}

.elementor-column .tns-controls [data-controls="next"] {
  right: 70px;
}

.elementor-column .tns-controls [data-controls="prev"]:hover,
.elementor-column .tns-controls [data-controls="next"]:hover {
  background-color: var(--primary-color);
}

.mouse-drag,
.mouse-drag2 {
  width: 100% !important;
}

.icon-category {
  display: block;
  width: 201px !important;
}

.single-category {
  padding: 30px 8px;
  margin: 0 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.single-category img {
  width: 80px;
  display: block;
  height: auto;
  max-width: 100%;
}

/* about us */
.about-us {
  background-image: url(/assets/image/background/events-bg-img.jpeg);
  background-position: center right;
  background-repeat: no-repeat;
  padding: 110px 0;
}

.elementor-background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(35, 164, 85, 0);
  opacity: 1;
}

.elementor-col-50 {
  width: 50%;
}

.elementor-wrapper {}

.elementor-widget:not(:last-child) {
  margin-bottom: 20px;
}

.elementor-widget-container {
  padding: 0 0 10px;
}

.section-title.subtitle-position-top {
  display: flex;
  flex-direction: column;
}

.section-title-txt {
  font-family: "Montserrat", Sans-serif;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 58px;
  padding: 0;
  display: inline-block;
  order: 3;
  margin: 0;
}

.title-sperator-sec {
  order: 2;
  margin-top: 8px;
}

.title-sperator {
  background-color: var(--primary-color);
  display: inline-block;
  height: 3px;
  margin-bottom: 13px;
  margin-top: 0;
  position: relative;
  width: 42px;
}

.section-subtitle-txt {
  font-family: "Montserrat", Sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  display: block;
  color: #07294d;
  line-height: 30px;
  margin: 5px 0;
  order: 1;
}

.elementor-text-editor p {
  margin: 0 7rem 1.5em 0;
  padding: 0;
  color: #7a7a7a;
}

.btn-btn {
  padding: 17px 30px;
  color: #07294d;
  text-align: center;
  border-radius: 3px;
  font-weight: 500;
}

.event {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 55px;
  box-shadow: 0px 0px 191px 0px rgb(0 0 0 / 6%);
}

.event-title h3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 43px;
  color: #23252a;
  padding-bottom: 32px;
}

.event ul li:first-child .single-event {
  padding-top: 0;
}

.single-event {
  padding: 25px 0;
  border-bottom: 1px solid #cecece;
}

.single-event h4 {
  font-family: "Montserrat", Sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 0;
  color: #23252a;
}

.single-event span {
  color: #8a8a8a;
}

.single-event span i {
  color: var(--primary-color);
  margin-right: 3px;
}

.event ul li:last-child .single-event {
  border-bottom: 0;
  padding-bottom: 0;
}

/* apply */
.apply {
  padding-bottom: 110px;
}

.apply .elementor-wrapper {
  padding: 60px 60px 70px;
}

.apply .elementor-widget-container {
  padding: 0 0 5px;
  color: white;
}

.apply .elementor-heading-title {
  color: #fff;
  font-family: "Montserrat", Sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 43px;
}

.apply .elementor-text-editor p {
  color: white;
}

.apply .btn-btn {
  padding: 15px 40px;
}

.apply .btn-btn:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

/* courses */
.courses,
.publications,
.collab {
  background-color: #f9f9f9;
  background-image: url(/assets/image/background/featured_courses_background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.publications .btn-btn {
  padding: 10px 30px;
  margin-right: 20px;
}

.courses .elementor-column-wrap {
  padding: 100px 0 40px;
}

.courses .elementor-widget-container {
  padding: 0 0 40px;
}

/*  */
.riview-middle-img {
  display: flex;
  align-items: center;
}

.riview-middle-img>img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.featured-contents-slide-riview-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.2rem;
}

.featured-contents-slides-content {
  margin: 0 1.5rem;
}

.featured-contents-slides-content:hover .featured-contents-slide-img img {
  transform: scale(1.1);
}

.featured-contents-slide {
  position: relative;
  margin-bottom: 3rem;
  /* width: 36rem; */
  background-color: #fff;
}

.featured-course-price {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 90;
}

.featured-course-bookmark {
  position: absolute;
  right: 4rem;
  top: 2%;
  right: 2%;
  z-index: 90;
}

.featured-contents-slide-img {
  cursor: pointer;
  overflow: hidden;
  height: 100%;
}

.featured-contents-slide-riview {
  padding: 26px;
}

.featured-course-price>span {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 600;
  padding: 0 0.8rem;
  height: 3rem;
  background-color: var(--main-color-first);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
}

.featured-course-bookmark>span {
  font-size: 1.4rem;
  font-weight: 600;
  width: 2rem;
  height: 2.5rem;
  background-color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
}

.featured-contents-slide-img>img {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  width: 100%;
  height: auto;
  transition: 0.8s;
}

.featured-contents-slide-riview-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.2rem;
}

.featured-contents-slide-riview-bottom {
  display: flex;
  justify-content: space-between;
}

.featured-contents-slide-riview-bottom {
  border-top: 0.1rem solid #e0e0e0;
  padding-top: 1rem;
}

.slide-riview-rate {
  display: flex;
  align-items: center;
}

.featured-user-duration i {
  padding-right: 6px;
}

.featured-contents-slide-riview-top>h4 {
  margin: 0;
  padding-top: 1.7rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.7rem;
}

.slide-riview-rate-star {
  margin-right: 0.5rem;
}

.slide-riview-rate-review {
  font-size: 1.4rem;
  color: #939bb3;
  font-weight: 500;
  position: relative;
  margin-left: 0.8rem;
}

.slide-riview-rate-star>i {
  font-size: 1.6rem;
  color: var(--primary-color);
}

.featured-user-duration>span {
  font-size: 1.6rem;
  color: #acacac;
  margin-right: 0.5rem;
}

.featured-cost {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
}

.featured-buy {
  display: flex;
  align-items: center;
}

.featured-buy>a {
  font-size: 1.6rem;
  color: #9b9b9b;
}

.featured-buy>a>i {
  color: var(--primary-color);
  margin-right: 0.5rem;
}

/* slick */
.slick-arrow {
  position: absolute;
  right: 10px;
  top: -100px;
  width: 40px;
  height: 40px;
  line-height: 36px;
  border-radius: 3px;
  color: #000;
  border: 2px solid #aaa;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s linear;
}

i.fa-solid.fa-angle-left.slick-arrow:hover,
i.fa-solid.fa-angle-right.slick-arrow:hover,
.owl-next:hover,
.owl-prev:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

i.fa-solid.fa-angle-left.slick-arrow {
  right: 70px;
}

/* header menu */
.header-mobile {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  background: #fff;
  overflow-y: scroll;
  padding: 0 25px;
  height: 0;
  z-index: 99;
  transition: 1s;
}

.header-mobile-toggle {
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  width: 100%;
  background: #fff;
  overflow-y: scroll;
  padding: 25px;
  z-index: 2;
  height: 410px;
  animation: openMenu 1s ease;
}

.header-mobile>.header-mobile-container>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-mobile>.header-mobile-container>ul>li {
  line-height: 5rem;
  border-top: 1px solid #d1d1d1;
}

.header-mobile>.header-mobile-container>ul>li>a {
  font-size: 1.6rem;
  color: #2b2a35;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes openMenu {
  from {
    height: 0;
  }

  to {
    height: 410px;
  }
}

/* our-facilites */
.our-facilities {
  background-image: url(/assets/image/background/facilities_bg.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our-facilities .elementor-heading-title {
  color: #fff;
  font-family: "Montserrat", Sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 43px;
  padding: 0 0 35px 20px;
}

.elementor-widget-container {
  width: 100%;
}

.our-facilities .elementor-wrapper-element {
  padding: 0 0 0 80px;
}

.our-facilities .elementor-element {
  margin: 0 0 30px;
}

.video-popup-wrapper {
  /* margin: 20px 0 0 -320px; */
}

.video-popup-wrapper .play-btn {
  position: relative;
  width: 82px;
  height: 82px;
  background: radial-gradient(rgba(255, 188, 0, 0.94) 60%, #fac911 62%);
  border-radius: 50%;
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0 auto;
}

.YouTubePopUp-Wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  top: 0;
  left: 0;
  z-index: 9999999999999;
  animation: fadeBack .5s linear;
}

.YouTubePopUp-Content {
  max-width: 680px;
  display: block;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.YouTubePopUp-Content iframe {
  max-width: 100% !important;
  width: 100% !important;
  display: block !important;
  height: 480px !important;
  border: none !important;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
}

.play-btn:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  animation: ping 2s infinite forwards;
  border-radius: 50%;
  border: 5px solid #fac911;
  top: -30px;
  left: -30px;
  background: #fac911;
}

.play-btn .icon-play {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
}

@keyframes ping {
  0% {
    opacity: 0;
    transform: scale(0.2);
    border: 10px solid seashell;
    background: rgb(254, 188, 141);
  }

  50% {
    opacity: 0.5;
    transform: scale(0.8);
    background: rgb(254, 188, 141);
    border: 10px solid seashell;
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
    background: rgb(254, 188, 141);
    border: 10px solid seashell;
  }
}

.elementor-image-box-wrapper {
  display: flex;
  align-items: center;
}

.elementor-image-box-img {
  margin-right: 30px;
}

.elementor-image-box-img img {
  margin-top: 10px;
  width: 76px;
  height: auto;
}

.elementor-image-box-content {
  width: 100%;
}

.elementor-image-box-title {
  margin-bottom: 20px;
  color: #fff;
  font-family: "Montserrat", Sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.elementor-image-box-description {
  color: white;
}

/* teachers */
.teachers {}

.teachers .btn-btn {
  padding: 14px 30px;
}

.teachers .elementor-widget-wrap {
  padding: 0 90px 0 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.teachers .elementor-teacher {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
}

.teachers .single-teacher .image {
  border-radius: 3px;
  overflow: hidden;
}

.single-teacher .image img {
  height: 305px;
  object-fit: cover;
  width: 100%;
}

.single-teacher .teacher-content-area {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 80%;
  background-color: #f9f9f9;
  border-radius: 3px;
  margin: 0 auto;
  padding: 0;
  height: 75px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.single-teacher.active-social .teacher-content {
  bottom: -25px;
}

.single-teacher.active-social:hover .teacher-content-area {
  height: 110px;
}

.single-teacher.active-social:hover .teacher-content {
  bottom: 10px;
}

.single-teacher .teacher-content {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  transition: all 0.5s ease;
  border-radius: 3px;
  margin: 0 auto;
  padding: 0;
}

.single-teacher .teacher-content a .teacher-name {
  color: var(--bg-header);
  font-size: 1.8rem;
  font-weight: 500 !important;
  margin: 0 0 5px;
  padding: 0;
}

.single-teacher .teacher-content a .teacher-name:hover,
.single-teacher .techer-social .social-link:hover {
  color: var(--primary-color);
  transition: all 0.3s linear;
}

.single-teacher .teacher-content span {
  font-size: 1.5rem;
  color: #8a8a8a;
  font-weight: 400;
  display: block;
  padding-bottom: 5px;
}

.single-teacher .teacher-content .techer-social {
  padding-top: 5px;
}

.single-teacher .teacher-content a {
  display: inline-block;
}

.single-teacher .techer-social a.social-link {
  color: #07294d;
  padding: 0 5px;
  transition: all 0.3s ease;
}

/* feedback */
.feedback {
  background-image: url(https://thepixelcurve.com/wp/edubin/wp-content/uploads/2020/06/slider123.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}

.feedback .elementor-background-overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #07294d;
  opacity: 0.9;
}

.feedback .section-subtitle-txt,
.feedback .section-title-txt {
  color: white;
}

.feedback .title-sperator {
  background-color: white;
}

.feedback .testi-single {
  position: relative;
  padding: 20px 0 0;
  margin-top: 20px;
}

.feedback .testi-single .testimonial-thum {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 60%;
  transform: translateY(-109%);
}

.feedback .testi-single .testimonial-thum img {
  border-radius: 3px;
  width: 92px;
  height: 92px;
  object-fit: cover;
}

.feedback .testi-single .testimonial-cont {
  padding-left: 115px;
  padding-right: 40px;
}

.feedback .testi-single .testimonial-thum .quote {
  position: absolute;
  right: -22px;
  top: -22px;
}

.feedback .testi-single .testimonial-thum .quote i {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 50%;
  color: #07294d;
  font-size: 1.8rem;
}

.feedback .testi-single .testimonial-cont p {
  color: #f2f2f2;
  padding-bottom: 25px;
  font-size: 1.6rem;
}

.feedback .testi-single .testimonial-cont .name {
  color: #fff;
  margin: 0;
  padding: 0 30px 4px 0;
  font-size: 1.8rem;
  font-weight: 700 !important;
  margin: 0;
}

.feedback .testi-1 .slick-dots li {
  margin: 0 7px;
  width: 12px;
  height: 12px;
}

.feedback .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #e3e3e3;
  border-radius: 100%;
}

.feedback .slick-dots li.slick-active button {
  background: var(--primary-color);
}

.feedback .slick-dots li.slick-active button:before,
.slick-dots li button:before {
  opacity: 0;
}

/* woocommerce */
.woocommerce {}

.woocommerce ul.products {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}

.woocommerce.woocommerce-addons-wrapper ul.products.columns-4 li.product {
  position: relative;
  width: 22%;
}

.woocommerce ul.products li.product .overlay {
  background-color: rgba(0, 33, 71, 0.8);
  content: "";
  width: 100%;
  height: 310px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  z-index: 1;
}

.woocommerce ul.products li.product:hover .overlay {
  opacity: 1;
}

.woocommerce ul.products li.product:hover .woocommerce-loop-product__title {
  color: var(--primary-color);
}

.woocommerce ul.products li.product:hover .cart-button-list {
  opacity: 1;
  transform: translateY(0);
  transition: all .5s ease 0s;
}

.woocommerce ul.products.columns-4 li.product a img {
  height: 280px;
  object-fit: contain;
  padding: 35px;
  background: #edf0f2;
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  box-shadow: none;
}

.cart-button-list {
  top: 33%;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  z-index: 2;
  opacity: 0;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.woocommerce.woocommerce-addons-wrapper ul.products li.product a {
  text-align: center;
}

.woocommerce ul.products li.product a:before {
  height: 100%;
  left: 0;
  opacity: 1;
  position: relative;
  top: 0;
  width: 100%;
}

span.hide-addtocart-text {
  display: none;
}

.woocommerce ul.products>li>div.cart-button-list>a.cart-link,
.woocommerce ul.products>li>div.cart-button-list>a.search-link {
  border: 1px solid var(--primary-color);
  height: 40px;
  width: 40px;
  display: inline-block;
  line-height: 40px;
  color: var(--primary-color);
  background: 0 0;
  margin-right: 5px;
  transition: all .5s ease 0s;
  border-radius: 50%;
}

.woocommerce ul.products>li>div.cart-button-list>a.cart-link:hover,
.woocommerce ul.products>li>div.cart-button-list>a.search-link:hover {
  background-color: var(--primary-color);
  color: white;
}

.woocommerce h2.woocommerce-loop-product__title {
  padding-top: 20px;
  font-size: 2.2rem;
  margin-bottom: 15px;
  transition: all 0.5s ease;
  font-weight: 700;
  color: #07294d;
}

.woocommerce ul.products li.product .price {
  color: #212529;
  display: block;
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* latest-news */
.latest-news {}

.latest-news .list-news {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.list-news .new-item {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.list-news .new-item:hover img {
  transform: scale(1.1);

}

.list-news .news-title:hover {
  color: var(--primary-color);
  transition: all .2s linear;
}

.single-news:last-child {
  margin-bottom: 0;
}

.list-news .new-item .single-news {
  overflow: hidden;
  transition: all .5s ease;
  color: #505050;
}

.list-news .news-thum {
  height: 210px;
  overflow: hidden;
  margin-bottom: 20px;
}

.news-thum img {
  height: 210px;
  transition: all .5s ease;
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
}

.single-news .news-cont ul {
  padding-bottom: 15px;
  padding-left: 0;
  margin-bottom: 0;
}

.single-news .news-cont ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.4rem;
}

.single-news .news-cont ul li a {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: .1px;
  text-transform: uppercase;
  color: #8a8a8a;
  margin-right: 20px;
}

.single-news .news-cont ul li i {
  color: var(--primary-color);
  margin-right: 8px;
  font-size: 1.4rem;
}

.single-news .news-cont a {
  display: block;
}

.single-news .news-cont a .news-title {
  text-align: left;
  padding-top: 0;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 34px;
}

/* collab */
.collab {
  padding: 55px 0 60px;
}

.collab .list-collab .img-collab {
  margin: 0 50px;
}

.collab .slick-slide img {
  display: block;
  width: 100%;
}

/* footer */
.footer {}

.footer .footer-top {
  background-color: #07294d;
}

.footer .footer-top .footer-wrap {
  display: flex;
  padding: 70px 0 30px;
  flex-wrap: wrap;
}

.footer .widget {
  margin-bottom: 30px;
}

.footer .widget a {
  color: #edf0f2;
}

.footer .widget img.footer-logo {
  width: 180px;
}

.footer .widget p {
  font-size: 16px;
  line-height: 24px;
  color: #edf0f2;
  padding-bottom: 24px;
}

.social {
  transition: all .5s ease;
}

.social a.social-icon {
  border: 2px solid #021d3a;
  line-height: 37px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  color: #fff;
  display: inline-block;
  text-align: center;
  transition: all .5s ease;
  border-radius: 50px;
  background: #021d3a;
  font-size: 15px;
}

.social a.social-icon:hover i {
  color: var(--primary-color);
  transition: all .3s linear;
}

.footer .widget .widget-title {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 25px;
}

.footer .two-column-menu.widget ul.menu li,
.footer .widget ul.menu li {
  padding: 4px 0;
  list-style: none;
  color: #edf0f2;
  display: inline-block;
  vertical-align: top;
  width: 48%;
  position: relative;
  transition: all .5s ease;
}

.footer .footer-top .menu .menu-item a {
  font-weight: 300;
}

.footer .footer-top .menu .menu-item-link:hover {
  color: var(--primary-color);
  margin-left: 5px;
  transition: all .5s linear;
}

.footer .fi-ss-angle-right {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.quickinfo {
  color: #edf0f2;
  font-weight: 300;
}

.quickinfo .qicon i {
  margin-right: 10px;
}

.element-footer {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.footer .col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.footer .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.footer .col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

ul#menu-support .menu-item {
  width: 100%;
}

.footer-bottom {
  background-color: #021d3a;
}

.footer .footer-cyperight-wrap {
  padding-bottom: 25px;
  padding-top: 25px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.footer .info {
  font-size: 15px;
  margin: 0;
  color: #fff;
  font-weight: 300;
}

.social-navigation li {
  position: relative;
  margin-left: 5px;
  font-size: 15px;
  display: inline;
  transition: all .5s linear;
}

.social-navigation li:not(:last-child):before {
  position: absolute;
  height: 11px;
  width: 1px;
  background: #edf0f2;
  content: "";
  right: 3px;
  top: 5px;
}

.social-navigation a {
  border-radius: 40px;
  color: #edf0f2;
  display: inline-block;
  margin: 0 1em 0.5em 0;
  text-align: center;
  font-weight: 300;
  transition: all .5s ease;
}

.social-navigation a:hover {
  color: var(--primary-color);
}

/*  */
.back-top {
  background-color: var(--primary-color);
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  color: #07294d;
  border-radius: 50%;
  opacity: .95;
  z-index: 10;
  animation: fadeBack .5s linear;
}

@keyframes fadeBack {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*  */